@model DetailsModel
@{
    ViewData["Title"] = "Details";
}

@if (Model == null || !Model.Users.Any())
{
    <h3>Approval not found</h3>

    <p>Email @ViewBag.Email does not have an approval request pending</p>
    <div class="col-sm-offset-2 col-sm-10">
        @Html.ActionLink("Go Back", "Index", "Approval", null, new { @class = "btn btn-primary" })
    </div>
}
else
{
<h3>Approval(s) found for @ViewBag.Email</h3>

    <div>

        <form class="form-horizontal" asp-controller="Approval" method="post">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Identity Provider</th>
                        <th scope="col">State</th>
                        <th scope="col">Groups</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Users)
                    {
                        <tr>
                            <td>@item.IdentityProvider</td>
                            <td>@item.StatusWithTime</td>
                            <td>@{ await Html.RenderPartialAsync("_GroupsDropdown.cshtml"); }</td>
                            <td>
                                    @*@Html.Hidden("Identities", item.Identities)*@
                                    @Html.Hidden("Id", item.Id)
                                    <button type="submit" class="btn btn-success" formaction="ApproveRequest">Approve</button>
                                    <button type="submit" class="btn btn-danger" formaction="DenyRequest">Deny</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>

    </div>
}